html, body{
    margin: 0;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 248px;
    background-color: rgb(236, 234, 234);
    position: fixed;
    top: 0;
    z-index: 1;
}
.header > #header_top{
    float: left;
    width: calc(100% / 4);
    margin-top: 50px;
    margin-left: 8%;
}
.header > #header_top .ht_header{
    margin-left: 1%;
}
.header > #header_top .ht_header h1{
    font-size: 190%;
    color: dodgerblue;
}
.header > #header_top .ht_header span{
    display: block;
    margin-top: 3px;
    font-size: 140%;
    color: darkgray;
}
.header > #header_bottom{
    float: right;
    width: calc(100% / 2);
    margin-top: 60px;
    margin-right: 6%;
}
.header > #header_bottom .hb_bottom{
    float: left;
    margin-left: 1%;
}
.header > #header_bottom .hb_bottom header{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
}
.header > #header_bottom .hb_bottom header .welcome-link {
	float: left;
	display: inline-block;
	font-size: 120%;
	position: relative;
	top: 16px;
}
.header > #header_bottom .hb_bottom header .welcome-link a{
    color: darkgray;
    text-decoration: none;
}
.header > #header_bottom .hb_bottom header .header-informer{
    display: inline;
    float: right;
}
.header > #header_bottom .hb_bottom header .header-informer main {
	display: inline-block;
	margin-left: -12%;
	position: relative;
	top: 9px;
}
.header > #header_bottom .hb_bottom header .header-informer main a {
	display: inline;
	margin-left: 11px;
}
.header > #header_bottom .hb_bottom header .header-informer main a img {
	width: 35px;
}
.header > #header_bottom .hb_bottom header .header-informer footer {
	display: inline;
	float: right;
	margin-top: 1px;
	padding-left: 44px;
    width: 53%;
    margin-right: -9%;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services{
    display: inline;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services div{
    padding-right: 2%;
    display: inline;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services a {
	color: darkgray;
	font-size: 120%;
	text-decoration: none;
	position: relative;
	top: -9px;
}
.header > #header_bottom .hb_bottom header .header-informer footer .user-services img{
    width: 35px;
}
.header > #header_bottom .hb_bottom header .header-informer footer .menu-show{
    display: inline;
}
.header > #header_bottom .hb_bottom header .header-informer footer .menu-show img{
    width: 35px;
}
.header > #header_bottom .hb_bottom footer{
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 63px;
}
.header > #header_bottom .hb_bottom footer nav{
    font-size: 125%;
}
.header > #header_bottom .hb_bottom footer nav a{
    display: inline;
    color: darkgray;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 17px;
}
.header > #header_bottom .hb_bottom footer nav #active{
    border-bottom: solid 2px dodgerblue;
}
.header > #header_bottom .hb_bottom footer nav img{
    width: 35px;
    position: relative;
    top: 10px;
}
.main{
    width: 100%;
    height: auto;
    margin-top: 14%;
}
.main > .section{
    width: 100%;
    height: calc(248px * 3);
    display: block;
}
.main > .section header{
    color:darkgray;
    font-size: 150%;
    margin-left: 8%;
    padding-top: 2px;
}
.main > .section header hr{
    display: block;
}
.main > .section header h2, .main > .section header strong{
    display: block;
    margin-top: 2%;
}


.footer{
    width: 100%;
    height: calc(248px * 2);
    background-color: darkgray;
    color: white;
}
.footer > header #contact a, .footer > main #category_menu .catname{
    text-decoration: none;
    color: white;
}
.footer > header {
    float: left;
    display: inline;
    margin-left: 8%;
    width: calc(100% / 4);
    position: relative;
    top: 50px;
}
.footer > header main{
    display: block;
    position: relative;
    top: 80px;
}
.footer > header main a{
    width: 10%;
    height: 10%;
    border: solid 2px white;
    padding: 4%;
}
.footer > header main img{
    width: calc(10% / 2);
    height: calc(10% / 2);
    vertical-align: middle;
}
.footer > main {
    float: right;
    display: inline;
    margin-right: 6%;
    width: calc(90% / 2);
    position: relative;
    top: 50px;
}

.footer > main #category_menu {
	display: inline-block;
	padding-left: 10px;
	padding-right: 30px;
}
.footer > main #category_menu .catname {
	font-size: 170%;
	font-weight: 700;
}
.footer > main #category_menu ul {
	display: block;
	margin-top: 7px;
	font-size: 110%;
	margin-left: -28px;
}
.footer > main #category_menu ul li {
	margin-top: 2px;
}
.footer > main #category_menu ul li a{
    color: white;
    text-decoration: none;
}
